*{
  box-sizing: border-box;
}

body{
  text-align: center;
}

.book{
  height: 80px;
  width: 80px;
  background-color: black;
  
  border-radius: 80px;
  display: inline-block;
  
  padding: 60px;
  text-decoration: none;
  font-family: sans-serif;
  
  transition: background-position 0.3s ease-out 0.3s,
              padding 0.5s ease-out 0.3s;
  
  background-image: url(bookmark.svg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  
  color: white;
}

.book:hover{
  transition: background-position 0.1s ease-out 0.3s,
              padding 0.5s ease-out 0.3s;
  
  padding-left:120px;
  padding-right: 120px;
  
  background-position: 20px center;
}

.book_button p {
  position: relative;
  color: pink;
  top: 100px;
}

.book_button p:hover{
  top: -100px;
  opacity: 1;
}