*{
  box-sizing: border-box;
}

body{
  text-align: center;
}

.book{
  padding: 50px;
  display: inline-block;
  
  background-color: lightpink;
  border-radius: 100px;
  
  background-image: url(book-word.svg);
  background-repeat: no-repeat;
  background-position: bottom -200px center;
  
}

.book:hover{
  padding-right: 300px;
   background-position: bottom center;
  
  transition: padding 0.5s ease-out 0.1s,
              background-position 0.2s ease-out 0.3s;
}

