*{
  box-sizing: border-box;
}

body{
  text-align: center;
}

.book{
  height: 80px;
  width: 80px;
  background-color: black;
  
  border-radius: 80px;
  display: inline-block;
  
  padding: 60px;
  text-decoration: none;
  font-family: sans-serif;
  
  transition: background-position 0.3s ease-out 0.3s,
              padding 0.5s ease-out 0.3s;
  
  background-image: url(bookmark.svg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  
  color: white;
}

.book:hover{
  transition: background-position 0.1s ease-out 0.3s,
              padding 0.5s ease-out 0.3s;
  
  padding-left:120px;
  padding-right: 120px;
  
  background-position: 20px center;
}

button{
  border: none;
  background-image: url(bookmark.svg);
  background-repeat: no-repeat;
  border-radius: 120px;
  background-size: 100px;
  background-position: center;
  
  background-color: none;
}

button:hover{
  padding-right: 150px;
  background-position: left 50px center;
  transition:  background-position 0.5s ease-out 0.1s;
}

p{
  opacity: 0;
  padding: 100px;
}

p:hover{
  opacity: 1;
  
}