*{
  box-sizing: border-box;
}

body{
  text-align: center;
  margin: 0 auto;
}

.square_button{
  display: inline-block;
  font-size: 60px;
  text-decoration: none;
  
  padding: 60px;
  background-color: antiquewhite;
 
}

.square_button:hover{

}