*{
  box-sizing: border-box;
}

body{
  text-align: center;
  margin: 0 auto;
}

.square{
  width: 300px;
  height: 300px
}

.grey_box{
  background-color: lightgray;
}

.green_box{
  background-color: green;
  position: relative;
  top: -600px;
  left: -300px;
}

.black_box{
  background-color: black;
  position: relative;
  left: 300px;
  
  animation-name: moveup;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

/* animation */

@keyframes moveup{
  from {
    top: 300px;
    left: 300px;}
  to {
    top: -300px;
      left: 0;
  }
}