*{
  box-sizing: border-box;
}

body{
  margin: 0;
  /* make sure the height of the body is at least as high as the browser window */
  min-height: 100vh;
  
  /* center the flex items */
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.main_container{ 
  width: 200px;
  height: 200px;
  
  background-color: lightgray;
  position: relative;
  
  /* hide what is outside this element's bounds */
  overflow: hidden; 
}

.main_container:hover .background_one {
  top: 0;
  left: 0;
  
  /* remove the delay */
  transition-delay: 0s;
}

.main_container:hover .background_two {
  left: 0;
  transition-delay: 0.4s;
}

h1{
  margin: 0;
  
  font-family: sans-serif;
  font-size: 150px;
  
  text-align: center;
  line-height: 200px;
  
  color: white;
  
  /* bring it on top of the background */
  position: relative;
  z-index: 2;
}

.background {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  
  transition: top 0.3s,
              left 0.3s;
  transition-timing-function: ease-in-out;
}

.background_one{
  background-color: black;
  top: 100%;
  left: 100%;
  
  transition-delay: 0.3s;
}

.background_two{
  background-color: lightgreen;
  top: 0;
  left: -100%;
}